<header class="site-header" id="header">
    <h1 class="site-header__title" data-lead-id="site-header-title">Your test tokens / zil are on the way!</h1>
</header>

<div class="main-content">
    <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
    <p class="main-content__body" data-lead-id="main-content-body">
        Thanks for testing our products!
    </p>
    <form method="GET" action="/">
        <input type="submit" value="Home"/>
    </form>
</div>
