<div class="container w-container"><h1 class="logo">FAUCET</h1>
    <p class="subtitle">Bought To You By Carbon Labs</p>
    <div class="title-wrapper w-clearfix">
        <div class="long-line"></div>
        <p class="tokens"> Thanks for testing our products!</p>
        <div class="long-line"></div>
    </div>
    <div class="faucet-form w-form">
        <div class="success-message w-form-done"><p>Your test tokens / zil are on the way!</p></div>
    </div>
    <p class="bottom-link"><a href="/" class="link">Home</a></p>
</div>
