<header class="site-header" id="header">
    <h1 style="color: red">{{error}}</h1>
</header>

<div class="main-content">
    <form method="GET" action="/">
        <input type="submit" value="Home"/>
    </form>
</div>